<div class="center hero-unit">
  <h1>Welcome to the POSitive +</h1>

  <h2>
    This is the home page for the POS System of
    <a href="http://www.menggayskitchen.com">Menggay's Kitchen</a>
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
  <%=link_to "Users", users_path, class: "btn btn-large btn-primary" %>
  <%=link_to "Menu", menus_path, class: "btn btn-large btn-primary" %>
  <%=link_to "Tables", tables_path, class: "btn btn-large btn-primary" %>
  <%=link_to "Takeout", takeouts_path, class: "btn btn-large btn-primary" %>



</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>